.btn-call-to-action {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  min-width: 150px;
  width: fit-content;
  padding: 0 10px;
}
